@import '../../style/variables.scss';

.popup {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: all 0.5s ease-in-out;
  pointer-events: none;

  &__content {
    position: relative;
    padding: 2rem;
    border-radius: 1rem;
    background: $light-color;
    width: 50vw;
    height: 70vh;
    transform: scale(0.5);
    transition: all 0.4s ease-in-out;
    overflow-y: scroll;
  }
}

.popup.active {
  opacity: 1;
  pointer-events: all;
}
.popup__content.active {
  transform: scale(1);
}

.btn-close {
  position: fixed;
  right: 1rem;
  top: 1rem;
}